<div class ="container">
    <div class = "row">
        <div class= "col-lg-6">
            <div>
                <image-button image="teams.jpg" text="EQUIPES" router="/teams"></image-button>
            </div>
            <div class = "mt-4">
                <image-button image="people.jpg" text="PESSOAS" router="/people"></image-button>
            </div>
            <div class = "mt-4">
                <image-button image="study.jpg" text="ESTUDOS" router="/study"></image-button>
            </div>
            
        </div>
        <div class= "col-lg-6">
            PARTE DO DASHBOARD
        </div>
    </div>

</div>
